body{
    background: gray;
    font: normal 16pt Arial;
}


header{
    color: rgb(0, 6, 16);
    text-align: center;


}


section{
    background: rgb(11, 126, 124);
    border-radius: 50px;
    padding: 20px;
    width: 500px;
    margin:auto;
    box-shadow: 50px 50px 50px rgb(238, 232, 233);
}

div {
    text-align:left;
    padding: 8px;
}

#foto{
    width%
}
#imagem{
    width:70%;
}
footer{
    color:rgb(9, 1, 1);
    text-align: center;
    font-style: bold;


}